@charset "UTF-8";
@font-face {
  font-family: "ProximaNova-Regular";
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf?1463763900') format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.otf?1335890102') format('opentype');
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf?1463763874') format('truetype'), url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.otf?1335890102') format('opentype');
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf?1463763888') format('truetype'), url('../fonts/ProximaNova-Light/ProximaNova-Light.otf?1335890102') format('opentype');
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_swipebox.scss */
.swipebox-overflow-hidden {
  overflow: hidden !important;
}

/* line 5, ../scss/_swipebox.scss */
#swipebox-overlay img {
  border: none !important;
}

/* line 9, ../scss/_swipebox.scss */
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 9999;
  overflow: hidden;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 24, ../scss/_swipebox.scss */
#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
}

/* line 33, ../scss/_swipebox.scss */
#swipebox-slider .slide {
  background: url(../../images/loader.gif) no-repeat center center;
  height: 100%;
  line-height: 1px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

/* line 42, ../scss/_swipebox.scss */
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

/* line 50, ../scss/_swipebox.scss */
#swipebox-slider .slide img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

/* line 59, ../scss/_swipebox.scss */
#swipebox-action, #swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

/* line 67, ../scss/_swipebox.scss */
#swipebox-action {
  bottom: -50px;
}

/* line 70, ../scss/_swipebox.scss */
#swipebox-action.visible-bars {
  bottom: 0;
}

/* line 74, ../scss/_swipebox.scss */
#swipebox-action.force-visible-bars {
  bottom: 0 !important;
}

/* line 78, ../scss/_swipebox.scss */
#swipebox-caption {
  top: -50px;
  text-align: center;
}

/* line 82, ../scss/_swipebox.scss */
#swipebox-caption.visible-bars {
  top: 0;
}

/* line 86, ../scss/_swipebox.scss */
#swipebox-caption.force-visible-bars {
  top: 0 !important;
}

/* line 90, ../scss/_swipebox.scss */
#swipebox-action #swipebox-prev, #swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  background-image: url(../../images/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}

/* line 103, ../scss/_swipebox.scss */
#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  left: 40px;
}

/* line 108, ../scss/_swipebox.scss */
#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  right: 100px;
}

/* line 113, ../scss/_swipebox.scss */
#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  right: 40px;
}

/* line 118, ../scss/_swipebox.scss */
#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 124, ../scss/_swipebox.scss */
#swipebox-slider.rightSpring {
  -moz-animation: rightSpring 0.3s;
  -webkit-animation: rightSpring 0.3s;
}

/* line 129, ../scss/_swipebox.scss */
#swipebox-slider.leftSpring {
  -moz-animation: leftSpring 0.3s;
  -webkit-animation: leftSpring 0.3s;
}

@-moz-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-moz-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}
/* Skin
--------------------------*/
/* line 192, ../scss/_swipebox.scss */
#swipebox-overlay {
  background: #0d0d0d;
}

/* line 196, ../scss/_swipebox.scss */
#swipebox-action, #swipebox-caption {
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d0d0d), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#0d0d0d, #000000);
  background-image: -moz-linear-gradient(#0d0d0d, #000000);
  background-image: -o-linear-gradient(#0d0d0d, #000000);
  background-image: linear-gradient(#0d0d0d, #000000);
  -webkit-box-shadow: 0 1px 1px 1px #212121, inset 0 1px 1px 1px black;
  -moz-box-shadow: 0 1px 1px 1px #212121, inset 0 1px 1px 1px black;
  box-shadow: 0 1px 1px 1px #212121, inset 0 1px 1px 1px black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}

/* line 211, ../scss/_swipebox.scss */
#swipebox-action {
  -webkit-box-shadow: 0 -1px -1px 1px #212121, inset 0 -1px -1px 1px black;
  -moz-box-shadow: 0 -1px -1px 1px #212121, inset 0 -1px -1px 1px black;
  box-shadow: 0 -1px -1px 1px #212121, inset 0 -1px -1px 1px black;
}

/* line 217, ../scss/_swipebox.scss */
#swipebox-caption {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 1, ../scss/_global.scss */
body {
  font-family: 'ProximaNova-Regular', sans-serif;
}

/* line 4, ../scss/_global.scss */
a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 7, ../scss/_global.scss */
a:hover {
  text-decoration: none;
}
/* line 10, ../scss/_global.scss */
a:focus {
  background: none;
  outline: none;
}

/* line 15, ../scss/_global.scss */
.nav > li > a:focus {
  background: none;
}

/* line 19, ../scss/_global.scss */
header, section, footer {
  text-align: center;
}

/* line 22, ../scss/_global.scss */
header {
  padding: 15px 0;
  background: #fff;
}
/* line 26, ../scss/_global.scss */
header .logo a {
  display: inline-block;
}

/* line 32, ../scss/_global.scss */
.nav li {
  display: inline-block;
  margin-left: 30px;
}
/* line 35, ../scss/_global.scss */
.nav li:first-child {
  margin: 0;
}
/* line 38, ../scss/_global.scss */
.nav li a {
  padding: 0;
  font: 16px 'ProximaNova-Semibold', sans-serif;
  color: #999;
}
/* line 42, ../scss/_global.scss */
.nav li a:hover {
  background: none;
  color: #222222;
}

/* line 51, ../scss/_global.scss */
.intro h1 span, section h3 span {
  font-family: "ProximaNova-Semibold", sans-serif;
}

/* line 55, ../scss/_global.scss */
.intro {
  font-family: "ProximaNova-Light", sans-serif;
}
/* line 57, ../scss/_global.scss */
.intro h2 {
  margin-top: 10px;
}

/* line 62, ../scss/_global.scss */
.download-box .btn-download {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 13px 51px;
  font: 18px "ProximaNova-Light", sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
  background: #3998f5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3998f5), color-stop(100%, #1777d9));
  background: -webkit-linear-gradient(top, #3998f5 0%, #1777d9 100%);
  background: linear-gradient(to bottom, #3998f5 0%, #1777d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3998f5', endColorstr='#1777d9',GradientType=0 );
  border: 1px solid #076CCE;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 81, ../scss/_global.scss */
.download-box .btn-download:hover {
  background: #3a98f5;
  background: -webkit-linear-gradient(0deg, #3a98f5 49%, #1d77de 100%);
  background: linear-gradient(0deg, #3a98f5 49%, #1d77de 100%);
}
/* line 86, ../scss/_global.scss */
.download-box .btn-download:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 25px;
  width: 16px;
  height: 17px;
  background: url("../../images/arrow.png") no-repeat;
}

/* line 97, ../scss/_global.scss */
.desc {
  margin-top: 30px;
  font: 18px "ProximaNova-Light", sans-serif;
}
/* line 100, ../scss/_global.scss */
.desc span {
  font-family: "ProximaNova-Semibold", sans-serif;
  color: #1d76dd;
}

/* line 106, ../scss/_global.scss */
.features {
  background: #f7f7f7;
  box-shadow: inset 0 0 30px #C9C4C4;
  -webkit-box-shadow: inset 0 0 30px #C9C4C4;
  -moz-box-shadow: inset 0 0 30px #C9C4C4;
  -o-box-shadow: inset 0 0 30px #C9C4C4;
  border-bottom: 1px solid #CAC9C9;
}
/* line 113, ../scss/_global.scss */
.features .container {
  position: relative;
}
/* line 116, ../scss/_global.scss */
.features img {
  margin: 0 auto;
}

/* line 121, ../scss/_global.scss */
.list-features li {
  padding-left: 35px;
}
/* line 123, ../scss/_global.scss */
.list-features li h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
/* line 130, ../scss/_global.scss */
.list-features li h3 {
  margin-bottom: 10px;
  font: 20px "ProximaNova-Semibold", sans-serif;
  text-align: left;
}
/* line 135, ../scss/_global.scss */
.list-features li span {
  display: block;
}
/* line 139, ../scss/_global.scss */
.list-features p {
  font-size: 16px;
  text-align: left;
}
/* line 144, ../scss/_global.scss */
.list-features .new-payment h3:before {
  width: 26px;
  height: 22px;
  background-image: url("../../images/icon-coins.png");
}
/* line 151, ../scss/_global.scss */
.list-features .increased-security h3:before {
  width: 17px;
  height: 22px;
  background-image: url("../../images/icon-locked.png");
}
/* line 158, ../scss/_global.scss */
.list-features .mobile-ready h3:before {
  width: 15px;
  height: 25px;
  background-image: url("../../images/icon-mobile.png");
}
/* line 165, ../scss/_global.scss */
.list-features .customize-widgets h3:before {
  width: 25px;
  height: 25px;
  background-image: url("../../images/icon-cog.png");
}
/* line 172, ../scss/_global.scss */
.list-features .intuitive-design h3:before {
  width: 26px;
  height: 22px;
  background-image: url("../../images/icon-heart.png");
}

/* line 180, ../scss/_global.scss */
.list-plans {
  overflow: hidden;
  padding: 5px;
}
/* line 184, ../scss/_global.scss */
.list-plans > li > div {
  background: #fff;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 10px #aaa;
  -webkit-box-shadow: 0 2px 10px #aaa;
  box-shadow: 0 2px 10px #aaa;
}
/* line 191, ../scss/_global.scss */
.list-plans .center-plan h3 {
  padding: 20px 0;
  background: #333;
  color: #fff;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 198, ../scss/_global.scss */
.list-plans .center-plan > div {
  padding-top: 0;
}
/* line 201, ../scss/_global.scss */
.list-plans .center-plan .price {
  margin: 0;
}
/* line 205, ../scss/_global.scss */
.list-plans h3 {
  font: 34px "ProximaNova-Semibold", sans-serif;
  color: #3e4f6a;
}
/* line 209, ../scss/_global.scss */
.list-plans .price {
  margin-top: 15px;
  padding: 19px 0;
  background: #000;
  color: #fff;
  font-size: 24px;
}
/* line 216, ../scss/_global.scss */
.list-plans .plan-detail {
  margin-top: 25px;
}
/* line 218, ../scss/_global.scss */
.list-plans .plan-detail > li {
  color: #0365FF;
  padding: 20px 0;
  border-bottom: 1px solid #E9E9E9;
  font-size: 18px;
}
/* line 223, ../scss/_global.scss */
.list-plans .plan-detail > li span {
  color: #333;
}
/* line 228, ../scss/_global.scss */
.list-plans .btn-plan {
  display: inline-block;
  width: 80%;
  letter-spacing: 3px;
  margin-top: 30px;
  border: 2px solid #3998F5;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 240, ../scss/_global.scss */
.list-plans .btn-plan:hover {
  background: #3998F5;
  color: #fff;
}

/* line 247, ../scss/_global.scss */
.list-team {
  overflow: hidden;
}
/* line 249, ../scss/_global.scss */
.list-team li {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 252, ../scss/_global.scss */
.list-team li > a {
  position: relative;
  display: inline-block;
  border: 7px solid #FFF;
  -moz-box-shadow: 0 0 7px #AAA;
  -webkit-box-shadow: 0 0 7px #AAA;
  box-shadow: 0 0 7px #AAA;
}
/* line 257, ../scss/_global.scss */
.list-team li > a:after {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  background: url("../../images/zoom.png");
}
/* line 267, ../scss/_global.scss */
.list-team li > a:hover:after {
  top: 50%;
  margin-top: -32px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 275, ../scss/_global.scss */
.list-team img {
  max-width: 100%;
}

/* line 279, ../scss/_global.scss */
#swipebox-overlay {
  z-index: 99999;
}

/* line 282, ../scss/_global.scss */
.member-desc {
  margin-top: 20px;
  text-align: left;
}
/* line 286, ../scss/_global.scss */
.member-desc h4 a {
  color: #333;
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 21px;
}
/* line 292, ../scss/_global.scss */
.member-desc span {
  display: inline-block;
  margin-top: 10px;
}

/* line 297, ../scss/_global.scss */
.social-icons {
  margin-top: 45px;
}
/* line 299, ../scss/_global.scss */
.social-icons h3 {
  font-family: 'ProximaNova-Light', sans-serif;
}
/* line 302, ../scss/_global.scss */
.social-icons ul {
  margin-top: 25px;
}
/* line 304, ../scss/_global.scss */
.social-icons ul li, .social-icons ul a {
  display: inline-block;
}
/* line 307, ../scss/_global.scss */
.social-icons ul li {
  margin-left: 10px;
}
/* line 309, ../scss/_global.scss */
.social-icons ul li:first-child {
  margin: 0;
}
/* line 314, ../scss/_global.scss */
.social-icons a {
  height: 42px;
  width: 42px;
  text-indent: -9999px;
  background: url("../../images/img-sprite.png") no-repeat;
  transition: none;
}
/* line 322, ../scss/_global.scss */
.social-icons .twitter:hover {
  background-position: 0 bottom;
}
/* line 326, ../scss/_global.scss */
.social-icons .facebook {
  background-position: -55px top;
}
/* line 328, ../scss/_global.scss */
.social-icons .facebook:hover {
  background-position: -55px bottom;
}
/* line 332, ../scss/_global.scss */
.social-icons .googleplus {
  background-position: -111px top;
}
/* line 334, ../scss/_global.scss */
.social-icons .googleplus:hover {
  background-position: -111px bottom;
}
/* line 338, ../scss/_global.scss */
.social-icons .pinterest {
  background-position: -168px top;
}
/* line 340, ../scss/_global.scss */
.social-icons .pinterest:hover {
  background-position: -168px bottom;
}
/* line 344, ../scss/_global.scss */
.social-icons .linkedin {
  background-position: -225px top;
}
/* line 346, ../scss/_global.scss */
.social-icons .linkedin:hover {
  background-position: -225px bottom;
}

/* line 352, ../scss/_global.scss */
footer {
  color: #999;
  text-align: center;
}
/* line 355, ../scss/_global.scss */
footer .container {
  border-top: 2px solid #E6E6E6;
  padding: 30px 0;
}

/* line 360, ../scss/_global.scss */
.copyright {
  font: 16px "ProximaNova-Semibold", sans-serif;
}
/* line 362, ../scss/_global.scss */
.copyright a {
  color: #3998F5;
}
/* line 364, ../scss/_global.scss */
.copyright a:hover {
  color: #555;
}

@media (min-width: 601px) and (max-width: 991px) {
  /* line 2, ../scss/_media991.scss */
  .list-features {
    overflow: hidden;
    text-align: left;
  }
  /* line 5, ../scss/_media991.scss */
  .list-features li {
    display: inline-block;
    width: 49%;
  }
  /* line 8, ../scss/_media991.scss */
  .list-features li:nth-child(2n + 1) {
    float: left;
  }
  /* line 11, ../scss/_media991.scss */
  .list-features li:nth-child(2n) {
    float: right;
    text-align: left;
  }
}
@media (max-width: 991px) {
  /* line 19, ../scss/_media991.scss */
  section {
    padding: 50px 0;
  }

  /* line 22, ../scss/_media991.scss */
  .list-features li {
    position: relative;
    margin-bottom: 20px;
  }

  /* line 26, ../scss/_media991.scss */
  .features-banner {
    margin-bottom: 30px;
  }

  /* line 29, ../scss/_media991.scss */
  .copyright {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  /* line 2, ../scss/_media767.scss */
  nav {
    margin-top: 20px;
  }

  /* line 6, ../scss/_media767.scss */
  .nav li {
    margin-left: 25px;
  }

  /* line 11, ../scss/_media767.scss */
  .intro h2, .desc, .social-icons h3 {
    font-size: 17px;
  }

  /* line 14, ../scss/_media767.scss */
  .intro h1, .team h2 {
    font-size: 24px;
  }

  /* line 17, ../scss/_media767.scss */
  .intro {
    padding-bottom: 35px;
  }
  /* line 19, ../scss/_media767.scss */
  .intro img {
    margin-top: 20px;
  }

  /* line 24, ../scss/_media767.scss */
  .download-box h3 {
    font-size: 19px;
  }
  /* line 27, ../scss/_media767.scss */
  .download-box .btn-download {
    font-size: 16px;
    padding: 10px 28px;
  }
  /* line 30, ../scss/_media767.scss */
  .download-box .btn-download:after {
    content: url("../../images/arrow.png");
    position: relative;
    top: 2px;
    left: 10px;
    background: none;
  }

  /* line 42, ../scss/_media767.scss */
  section .container > h3 {
    margin-bottom: 25px;
    font: 27px "ProximaNova-Light", sans-serif;
  }

  /* line 49, ../scss/_media767.scss */
  .list-features p {
    font-size: 19px;
  }

  /* line 54, ../scss/_media767.scss */
  .list-plans > li {
    margin-top: 20px;
    padding: 0;
  }
  /* line 57, ../scss/_media767.scss */
  .list-plans > li:first-child {
    margin: 0;
  }
  /* line 60, ../scss/_media767.scss */
  .list-plans > li > div {
    padding: 20px 0;
  }
  /* line 64, ../scss/_media767.scss */
  .list-plans h3 {
    font-size: 24px;
  }
  /* line 67, ../scss/_media767.scss */
  .list-plans .btn-plan {
    padding: 15px 0;
  }

  /* line 73, ../scss/_media767.scss */
  .list-team li {
    margin-top: 15px;
  }
  /* line 75, ../scss/_media767.scss */
  .list-team li:first-child {
    margin: 0;
  }
  /* line 79, ../scss/_media767.scss */
  .list-team a, .list-team img {
    width: 100%;
  }

  /* line 84, ../scss/_media767.scss */
  .social-icons ul {
    margin: 20px 0 30px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 91, ../scss/_media767.scss */
  .list-plans > li {
    width: 60%;
    margin: 20px auto 0;
  }
  /* line 94, ../scss/_media767.scss */
  .list-plans > li:first-child {
    margin: 0 auto;
  }

  /* line 101, ../scss/_media767.scss */
  .list-team > li {
    width: 60%;
    margin: 20px auto 0;
  }
  /* line 104, ../scss/_media767.scss */
  .list-team > li:first-child {
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../scss/_media768.scss */
  .list-plans {
    width: 100%;
  }
  /* line 4, ../scss/_media768.scss */
  .list-plans .btn-plan {
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  /* line 10, ../scss/_media768.scss */
  header {
    position: fixed;
    width: 100%;
    z-index: 99998;
  }
  /* line 14, ../scss/_media768.scss */
  header .container {
    overflow: hidden;
  }
  /* line 17, ../scss/_media768.scss */
  header .logo {
    float: left;
  }
  /* line 20, ../scss/_media768.scss */
  header nav {
    float: right;
    line-height: 30px;
  }

  /* line 25, ../scss/_media768.scss */
  .intro h1 {
    font-size: 64px;
  }

  /* line 28, ../scss/_media768.scss */
  .intro h3, .download-box h3 {
    font-size: 40px;
  }

  /* line 31, ../scss/_media768.scss */
  .intro {
    padding: 120px 0 75px;
  }
  /* line 33, ../scss/_media768.scss */
  .intro h2 {
    font-size: 24px;
  }
  /* line 36, ../scss/_media768.scss */
  .intro img {
    margin: 35px auto 0;
  }

  /* line 43, ../scss/_media768.scss */
  section .container > h3 {
    margin-bottom: 45px;
    font: 60px "ProximaNova-Light", sans-serif;
  }

  /* line 50, ../scss/_media768.scss */
  .list-plans {
    float: none;
    margin: 0 auto;
  }
  /* line 53, ../scss/_media768.scss */
  .list-plans li {
    padding: 25px 20px 0;
  }
  /* line 56, ../scss/_media768.scss */
  .list-plans > li > div, .list-plans .center-plan {
    padding-top: 10px;
    padding-bottom: 25px;
  }
  /* line 61, ../scss/_media768.scss */
  .list-plans .center-plan > div {
    padding-bottom: 35px;
  }

  /* line 68, ../scss/_media768.scss */
  .list-team img {
    width: 100%;
  }

  /* line 73, ../scss/_media768.scss */
  .social-icons h3 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  /* line 2, ../scss/_media992.scss */
  .features .container > h3 {
    margin: 0;
  }

  /* line 5, ../scss/_media992.scss */
  .list-features, .list-features li {
    position: absolute;
  }

  /* line 8, ../scss/_media992.scss */
  .features-banner {
    margin: 200px 0 170px;
  }

  /* line 11, ../scss/_media992.scss */
  .list-features {
    top: 0;
    height: 100%;
  }
  /* line 14, ../scss/_media992.scss */
  .list-features li:after, .list-features li:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  /* line 21, ../scss/_media992.scss */
  .new-payment:after {
    background-image: url("../../images/line-2.png");
    top: 45px;
    left: 250px;
    width: 111px;
    height: 109px;
  }

  /* line 30, ../scss/_media992.scss */
  .increased-security:before {
    background-image: url("../../images/line-1.png");
    top: 50px;
    right: 200px;
    width: 25px;
    height: 85px;
  }

  /* line 39, ../scss/_media992.scss */
  .mobile-ready:after {
    background-image: url("../../images/line-3.png");
    top: -5px;
    left: 210px;
    width: 146px;
    height: 40px;
  }

  /* line 48, ../scss/_media992.scss */
  .customize-widgets:before {
    background-image: url("../../images/line-4.png");
    top: -165px;
    left: 50px;
    width: 40px;
    height: 154px;
  }

  /* line 57, ../scss/_media992.scss */
  .intuitive-design:before {
    background-image: url("../../images/line-5.png");
    top: -100px;
    right: 200px;
    width: 130px;
    height: 87px;
  }

  /* line 66, ../scss/_media992.scss */
  .pricing {
    padding-top: 65px;
  }

  /* line 70, ../scss/_media992.scss */
  .list-plans .btn-plan {
    padding: 25px 0;
  }

  /* line 74, ../scss/_media992.scss */
  .team, .features {
    padding: 75px 0;
  }

  /* line 79, ../scss/_media992.scss */
  footer nav {
    float: left;
  }

  /* line 83, ../scss/_media992.scss */
  .copyright {
    float: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 88, ../scss/_media992.scss */
  .list-features {
    width: 940px;
  }
  /* line 90, ../scss/_media992.scss */
  .list-features p {
    font-size: 14px;
  }

  /* line 94, ../scss/_media992.scss */
  .new-payment {
    top: 150px;
    left: 50px;
  }

  /* line 98, ../scss/_media992.scss */
  .increased-security {
    top: 150px;
    right: 185px;
  }

  /* line 102, ../scss/_media992.scss */
  .mobile-ready {
    bottom: 190px;
  }

  /* line 105, ../scss/_media992.scss */
  .customize-widgets {
    bottom: 0;
    left: 255px;
  }

  /* line 109, ../scss/_media992.scss */
  .intuitive-design {
    bottom: 60px;
    right: 80px;
  }
}
@media (min-width: 1200px) {
  /* line 2, ../scss/_media1200.scss */
  .list-features {
    width: 1140px;
  }

  /* line 5, ../scss/_media1200.scss */
  .new-payment {
    top: 150px;
    left: 150px;
  }

  /* line 9, ../scss/_media1200.scss */
  .increased-security {
    top: 150px;
    right: 280px;
  }

  /* line 13, ../scss/_media1200.scss */
  .mobile-ready {
    bottom: 190px;
  }

  /* line 16, ../scss/_media1200.scss */
  .customize-widgets {
    bottom: 0;
    left: 350px;
  }

  /* line 20, ../scss/_media1200.scss */
  .intuitive-design {
    bottom: 60px;
    right: 180px;
  }
  /* line 23, ../scss/_media1200.scss */
  .intuitive-design:before {
    top: -100px;
    right: 150px;
  }
}
