body {
  font-family: 'ProximaNova-Regular', sans-serif;
}
a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    background: none;
    outline: none;
  }
}
.nav > li > a:focus {
  background: none;
}

header, section, footer{
  text-align: center;
}
header {
  padding: 15px 0;
  background: #fff;
  .logo {
    a {
      display: inline-block;
    }
  }
}
.nav {
  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin: 0;
    }
    a {
      padding: 0;
      font: 16px 'ProximaNova-Semibold', sans-serif;
      color: #999;
      &:hover {
        background: none;
        color: #222222;
      }
    }
  }
}

.intro h1, section h3 {
  span {
    font-family: "ProximaNova-Semibold", sans-serif;
  }
}
.intro {
  font-family: "ProximaNova-Light", sans-serif;
  h2 {
    margin-top: 10px;
  }
}
.download-box {
  .btn-download {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 13px 51px;
    font: 18px "ProximaNova-Light", sans-serif;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
    background: #3998f5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3998f5), color-stop(100%,#1777d9));
    background: -webkit-linear-gradient(top, #3998f5 0%,#1777d9 100%);
    background: linear-gradient(to bottom, #3998f5 0%,#1777d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3998f5', endColorstr='#1777d9',GradientType=0 );
    border: 1px solid #076CCE;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
    @include border-radius(3px);
    &:hover {
      background: rgb(58, 152, 245);
      background: -webkit-linear-gradient(0deg, rgb(58, 152, 245) 49%, rgb(29, 119, 222) 100%);
      background: linear-gradient(0deg, rgb(58, 152, 245) 49%, rgb(29, 119, 222) 100%);
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 25px;
      width: 16px;
      height: 17px;
      background: url("../../images/arrow.png") no-repeat;
    }
  }
}
.desc {
  margin-top: 30px;
  font: 18px "ProximaNova-Light", sans-serif;
  span {
    font-family: "ProximaNova-Semibold", sans-serif;
    color: #1d76dd;
  }
}

.features {
  background: #f7f7f7;
  box-shadow: inset 0 0 30px #C9C4C4;
  -webkit-box-shadow: inset 0 0 30px #C9C4C4;
  -moz-box-shadow: inset 0 0 30px #C9C4C4;
  -o-box-shadow: inset 0 0 30px #C9C4C4;
  border-bottom: 1px solid #CAC9C9;
  .container {
    position: relative;
  }
  img {
    margin: 0 auto;
  }
}
.list-features {
  li {
    padding-left: 35px;
    h3:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
    }
    h3 {
      margin-bottom: 10px;
      font: 20px "ProximaNova-Semibold", sans-serif;
      text-align: left;
    }
    span {
      display: block;
    }
  }
  p {
    font-size: 16px;
    text-align: left;
  }
  .new-payment {
    h3:before {
      width: 26px;
      height: 22px;
      background-image: url("../../images/icon-coins.png");
    }
  }
  .increased-security {
    h3:before {
      width: 17px;
      height: 22px;
      background-image: url("../../images/icon-locked.png");
    }
  }
  .mobile-ready {
    h3:before {
      width: 15px;
      height: 25px;
      background-image: url("../../images/icon-mobile.png");
    }
  }
  .customize-widgets {
    h3:before {
      width: 25px;
      height: 25px;
      background-image: url("../../images/icon-cog.png");
    }
  }
  .intuitive-design {
    h3:before {
      width: 26px;
      height: 22px;
      background-image: url("../../images/icon-heart.png");
    }
  }
}

.list-plans {
  overflow: hidden;
  padding: 5px;
  > li {
    > div {
      background: #fff;
      border-radius: 5px;
      @include box-shadow( 0 2px 10px #aaa);
    }
  }
  .center-plan {
    h3 {
      padding: 20px 0;
      background: #333;
      color: #fff;
      @include border-top-left-radius(4px);
      @include border-top-right-radius(4px);
    }
    > div {
      padding-top: 0;
    }
    .price {
      margin: 0;
    }
  }
  h3 {
    font: 34px "ProximaNova-Semibold", sans-serif;
    color: #3e4f6a;
  }
  .price {
    margin-top: 15px;
    padding: 19px 0;
    background: #000;
    color: #fff;
    font-size: 24px;
  }
  .plan-detail {
    margin-top: 25px;
    > li {
      color: #0365FF;
      padding: 20px 0;
      border-bottom: 1px solid #E9E9E9;
      font-size: 18px;
      span {
        color: #333;
      }
    }
  }
  .btn-plan {
    display: inline-block;
    width: 80%;
    letter-spacing: 3px;
    margin-top: 30px;
    border: 2px solid #3998F5;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    @include border-radius(4px);
    &:hover {
      background: #3998F5;
      color: #fff;
    }
  }
}

.list-team {
  overflow: hidden;
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    & > a {
      position: relative;
      display: inline-block;
      border: 7px solid #FFF;
      @include box-shadow(0 0 7px #AAA);
      &:after {
        content: "";
        position:absolute;
        top: -50%;
        left: 50%;
        width: 64px;
        height: 64px;
        margin-left: -32px;
        background: url("../../images/zoom.png");
      }
      &:hover:after {
        top: 50%;
        margin-top: -32px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  img {
    max-width: 100%;
  }
}
#swipebox-overlay {
  z-index: 99999;
}
.member-desc {
  margin-top: 20px;
  text-align: left;
  h4 {
    a {
      color: #333;
      font-family: "ProximaNova-Semibold", sans-serif;
      font-size: 21px;
    }
  }
  span {
    display: inline-block;
    margin-top: 10px;
  }
}
.social-icons {
  margin-top: 45px;
  h3 {
    font-family: 'ProximaNova-Light', sans-serif;
  }
  ul {
    margin-top: 25px;
    li, a {
      display: inline-block;
    }
    li {
      margin-left: 10px;
      &:first-child {
        margin: 0;
      }
    }
  }
  a {
    height: 42px;
    width: 42px;
    text-indent: -9999px;
    background: url("../../images/img-sprite.png") no-repeat;
    transition: none;
  }
  .twitter {
    &:hover {
      background-position: 0 bottom;
    }
  }
  .facebook {
    background-position: -55px top;
    &:hover {
      background-position: -55px bottom;
    }
  }
  .googleplus {
    background-position: -111px top;
    &:hover {
      background-position: -111px bottom;
    }
  }
  .pinterest {
    background-position: -168px top;
    &:hover {
      background-position: -168px bottom;
    }
  }
  .linkedin {
    background-position: -225px top;
    &:hover {
      background-position: -225px bottom;
    }
  }
}

footer {
  color: #999;
  text-align: center;
  .container {
    border-top: 2px solid #E6E6E6;
    padding: 30px 0;
  }
}
.copyright {
  font: 16px "ProximaNova-Semibold", sans-serif;
  a {
    color: #3998F5;
    &:hover {
      color: #555;
    }
  }
}
