@media (min-width: 1200px) {
  .list-features {
    width: 1140px;
  }
  .new-payment {
    top: 150px;
    left: 150px;
  }
  .increased-security {
    top: 150px;
    right: 280px;
  }
  .mobile-ready {
    bottom: 190px;
  }
  .customize-widgets {
    bottom: 0;
    left: 350px;
  }
  .intuitive-design {
    bottom: 60px;
    right: 180px;
    &:before {
      top: -100px;
      right: 150px;
    }
  }
}