@media (min-width: 601px) and (max-width: 991px) {
  .list-features {
    overflow: hidden;
    text-align: left;
    li {
      display: inline-block;
      width: 49%;
      &:nth-child(2n + 1) {
        float: left;
      }
      &:nth-child(2n) {
        float: right;
        text-align: left;
      }
    }
  }
}
@media (max-width: 991px) {
  section {
    padding: 50px 0;
  }
  .list-features li {
    position: relative;
    margin-bottom: 20px;
  }
  .features-banner {
    margin-bottom: 30px;
  }
  .copyright {
    margin-top: 20px;
  }
}