@media (min-width: 992px) {
  .features .container > h3 {
    margin: 0;
  }
  .list-features, .list-features li {
    position: absolute;
  }
  .features-banner {
    margin: 200px 0 170px;
  }
  .list-features {
    top: 0;
    height: 100%;
    li:after, li:before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }
  }
  .new-payment {
    &:after {
      background-image: url("../../images/line-2.png");
      top: 45px;
      left: 250px;
      width: 111px;
      height: 109px;
    }
  }
  .increased-security {
    &:before {
      background-image: url("../../images/line-1.png");
      top: 50px;
      right: 200px;
      width: 25px;
      height: 85px;
    }
  }
  .mobile-ready {
    &:after {
      background-image: url("../../images/line-3.png");
      top: -5px;
      left: 210px;
      width: 146px;
      height: 40px;
    }
  }
  .customize-widgets {
    &:before {
      background-image: url("../../images/line-4.png");
      top: -165px;
      left: 50px;
      width: 40px;
      height: 154px;
    }
  }
  .intuitive-design {
    &:before {
      background-image: url("../../images/line-5.png");
      top: -100px;
      right: 200px;
      width: 130px;
      height: 87px;
    }
  }

  .pricing {
    padding-top: 65px;
  }
  .list-plans {
    .btn-plan {
      padding: 25px 0;
    }
  }
  .team, .features {
    padding: 75px 0;
  }

  footer {
    nav {
      float: left;
    }
  }
  .copyright {
    float: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .list-features {
    width: 940px;
    p {
      font-size: 14px;
    }
  }
  .new-payment {
    top: 150px;
    left: 50px;
  }
  .increased-security {
    top: 150px;
    right: 185px;
  }
  .mobile-ready {
    bottom: 190px;
  }
  .customize-widgets {
    bottom: 0;
    left: 255px;
  }
  .intuitive-design {
    bottom: 60px;
    right: 80px;
  }
}