@media (min-width: 768px) and (max-width: 991px) {
  .list-plans {
    width: 100%;
    .btn-plan {
      padding: 15px 0;
    }
  }
}
@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 99998;
    .container {
      overflow: hidden;
    }
    .logo {
      float: left;
    }
    nav {
      float: right;
      line-height: 30px;
    }
  }
  .intro  h1 {
    font-size: 64px;
  }
  .intro h3, .download-box h3 {
    font-size: 40px;
  }
  .intro {
    padding: 120px 0 75px;
    h2 {
      font-size: 24px;
    }
    img {
      margin: 35px auto 0;
    }
  }

  section {
    .container {
      > h3 {
        margin-bottom: 45px;
        font: 60px "ProximaNova-Light", sans-serif;
      }
    }
  }

  .list-plans {
    float: none;
    margin: 0 auto;
    li {
      padding: 25px 20px 0;
    }
    > li > div, .center-plan {
      padding-top: 10px;
      padding-bottom: 25px;
    }
    .center-plan {
      > div {
        padding-bottom: 35px;
      }
    }
  }
  
  .list-team {
    img  {
      width: 100%;
    }
  }
  .social-icons {
    h3 {
      font-size: 30px;
    }
  }
}