@media (max-width: 767px) {
  nav {
    margin-top: 20px;
  }
  .nav {
    li {
      margin-left: 25px;
    }
  }

  .intro h2, .desc, .social-icons h3 {
    font-size: 17px;
  }
  .intro h1, .team h2 {
    font-size: 24px;
  }
  .intro {
    padding-bottom: 35px;
    img {
      margin-top: 20px;
    }
  }
  .download-box {
    h3 {
      font-size: 19px;
    }
    .btn-download {
      font-size: 16px;
      padding: 10px 28px;
      &:after {
        content: url("../../images/arrow.png");
        position: relative;
        top: 2px;
        left: 10px;
        background: none;
      }
    }
  }

  section {
    .container {
      > h3 {
        margin-bottom: 25px;
        font: 27px "ProximaNova-Light", sans-serif;
      }
    }
  }

  .list-features p {
    font-size: 19px;
  }

  .list-plans {
    > li {
      margin-top: 20px;
      padding: 0;
      &:first-child {
        margin: 0;
      }
      > div {
        padding: 20px 0;
      }
    }
    h3 {
      font-size: 24px;
    }
    .btn-plan {
      padding: 15px 0;
    }
  }
  
  .list-team {
    li {
      margin-top: 15px;
      &:first-child {
        margin: 0;
      }
    }
    a, img {
      width: 100%;
    }
  }
  .social-icons {
    ul {
      margin: 20px 0 30px;
    }
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .list-plans {
    > li {
      width: 60%;
      margin: 20px auto 0;
      &:first-child {
        margin: 0 auto;
      }
    }
  }

  .list-team {
    > li {
      width: 60%;
      margin: 20px auto 0;
      &:first-child {
        margin: 0 auto;
      }
    }
  }
}